*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #404040;
  height: 100vh;
}

@font-face {
  font-family: display;
  src: url(../fonts/digital-7\ \(mono\).ttf);
}

*{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.bomb{
  width: 60%;
  height: 80%;
  background-color: rgb(103, 103, 103);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.modulo{
  margin: 10px;
  position: relative;
  width: 30%;
  height: 43%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: rgb(202, 188, 144);
  background-image: linear-gradient(180deg, rgb(169, 162, 148), rgb(255, 243, 200));
  border-top: 3px solid #CCC;
  border-right: 3px solid #CCC;
  border-left: 4px solid #666;
  border-bottom: 4px solid #666;
}

.simboli{
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.button-main {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32%;
  height: 32%;
  background-color: #999;
  background-image: linear-gradient(180deg, #CCC, #999);
  border-top: 3px solid #CCC;
  border-right: 3px solid #CCC;
  border-left: 4px solid #666;
  border-bottom: 4px solid #666;
  border-radius: 20px;
  text-decoration: none;
  box-shadow:  -.1em .1em 0 #000,
         -.1em .1em 0 #000,
         -.1em .1em 0 #000,
         -.1em .1em 0 #333,
         -.1em .1em 0 #333,
         -.1em .1em 0 #333,
         -.1em .1em 0 #333,
         -.1em .1em 0 #333,
         -1em 1em 0 #333,
         -1.1em 1.1em 0 #333,
         -1.1em 1.1em 0 #333;
  transition: box-shadow 0.3s,
        border-top 0.3s,
        border-right 0.3s;
}

.button-main:hover, .button-main:focus {
  box-shadow: .1em -.1em 0 #333,
        .2em -.2em 0 #333,
        -.1em .1em 0 #333,
        -.2em .2em 0 #333,
        -.3em .3em 0 #333,
        inset -.1em -.1em 2em #FFF,
        -.1em -.1em 2em #666;
  border-top: 3px solid #666;
  border-right: 3px solid #666;
  transition: all ease-in-out 0.4s;
}

.button-inside {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background-color: #CCC;
  background-image: linear-gradient(45deg, #CCC, #999);
  box-shadow: inset -.15em .15em 0 #666,
        inset .1em -.1em 0 #CCC;
}

.button-inside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  color: #F2F2F2;
  text-align: center;
  line-height: 1.3em;
  margin: 0 auto;
  border-radius: 20px;
  text-shadow: -.01em .01em 0 #666,
         -.02em .02em 0 #666,
         -.03em .03em 0 #666,
         -.04em .04em 0 #666,
         -.05em .05em 0 #666,
         -.06em .06em 0 #999,
         -.07em .07em 0 #999,
         -.08em .08em 0 #999,
         -.09em .09em 0 #999,
         -.1em .1em 0 #999,
         -.11em .11em 0 #999;
}

.led{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  background-color: #666;
}

.timer{
  font-family: display;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 128px;
  color: #FF0000;
  text-shadow: 0px 0px 13px rgba(255, 27, 27, 0.6);
  z-index: 9999;
}

.modulo-timer{
  margin: 10px;
  position: relative;
  width: 30%;
  height: 43%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #111;
  position: relative;
}

.downtext{
  position: absolute;
  font-family: display;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-size: 128px;
  color: rgb(57, 0, 0);
  background-color: rgb(34, 0, 0);
  background-image: url(../images/pattern.jpg);
  background-blend-mode: overlay;
  background-size: cover;
}

.errors{
  position: absolute;
  top: 0;
  height: 20px;
  font-size: 75px;
  z-index: 9999;
  font-family: display;
  color: #FF0000;
  text-shadow: 0px 0px 13px rgba(255, 27, 27, 0.6);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  letter-spacing: 10px;
}